.personal-container {
  display: flex;
  flex-direction: column;
  height: auto;
}

.personal-input-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 2rem;
  min-height: 35%;
}

.form-field {
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.personal-input-container .form-field {
  flex: 1 1 calc(50% - 1rem);
}

.personal-container > .form-field {
  width: 100%;
}

.form-field label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-field label > span {
  font-size: 1.25rem;
}

.form-field input,
.form-field textarea {
  background-color: var(--input-bg);
  color: var(--color-text);
  font-size: 1.1rem;
  padding: 12px;
  width: 100%;
  outline: none;
}

.form-field input {
  height: 3rem;
  appearance: none;
  border: none;
  border-radius: 5px;
}

.personal-container > .form-field textarea {
  min-height: 12rem;
  resize: vertical;
  border: none;
  border-radius: 10px;
}

.personal-container > .form-field:last-child {
  margin-top: 1.5rem;
}

.form-field > label > span > span {
  font-weight: 200;
  font-size: 0.9rem;
}

@media (max-width: 700px) {
  .personal-input-container .form-field {
    flex-basis: 100%;
  }
}
